<ion-app>
  <!--Header-->
  <ion-header>
    <ion-toolbar>
      <ion-title>Ticket de compra</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Ingresar productos-->
  <ion-content>
    <ion-grid [fixed]="true">
      <h1>Ticket de compra</h1>
      <ion-row>
        <ion-col>

          <ion-list>
            <!-- Elimina el segundo <ion-list> innecesario -->
            <ion-item>
              <ion-input label="Articulo" placeholder="Enter text" id="producto"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Precio" type="number" placeholder="000" id="precioUnico"></ion-input>
            </ion-item>
            <ion-button type="submit"  class="boton-personalizado" onclick="agregarElemento()">Calcular Total</ion-button>

          </ion-list>

          <p>Tu Ticket</p>
          <ul id="listaElemento"></ul>
          <p id="totalCalculado"></p>

        </ion-col>
      </ion-row>
      <!--Resultados de ticket-->
      <ion-row>
        <ion-col>
          <ion-text>

          </ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
  <script src="home.page.js"></script>
</ion-app>
